.imagejoueur{
  width: 140px;
  height: 140px;
  margin-bottom: 10px;
}

.titre{
  text-align: center;
}

.listjoueurs{
  background-color:  #80de7a;
}

.singlejoueur{
  text-align: center;
  background-color:  #c2edbf;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}



.imagejoueur2{
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.titre2{
  text-align: center;
}

.listjoueurs2{
  background-color: #e1f810;
}

.singlejoueur2{
  background-color: #eaf48f;
  border: solid;
  text-align: center;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.prenomjoueur{
  font-size: 25px;
}

.nomjoueur{
  font-size: 25px;
}


.singlejoueur2:active{
  background-color: #b6b8a8;
}
