

<div class="row">
  <a class="nav" [routerLink]="['']"> <img class="logo" src="assets/images/logo-wipw.png" alt="logo"></a>
</div>

<div class="row">
  <div class="jumbotron">
    <h1 class="display-3">Bienvenue sur notre Jeux WIPW</h1>
    <p class="lead">Le jeux consiste en un Quiz sur le football</p>
    <hr class="my-4">
    <p>Vous pouver commencer a jouer en cliquant sur : </p>
    <p class="lead">
      <a class="btn btn-success" [routerLink]="['quiz']" role="button">Jouer !</a>
    </p>
  </div>
</div>
