<div class="infoparcours">
  <div class="row">
    <div class="col-4"><a [routerLink]="['']">Retour à l'accueil</a></div>
    <div class="col-4 ">Question Numéro {{numQuestion+1}}</div>
    <div class="col-4"><a [routerLink]="['']"> <img class="logo" src="assets/images/logo-wipw.png" alt="logo"></a></div>
  </div>
</div>


<app-dingle-question-simple [question]="questions[numQuestion]" (sendResultToParent)="getResult($event)">
</app-dingle-question-simple>

<div class="infoparcours">
  <p>Votre score {{score}}</p>
</div>

